<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Codemind</title>
</head>
<body>
    <h1>
        Hello Welcome to Codemind Community Organization - Yoohooo!
    </h1>
    <hr>
    <h3>
        Welcome to Food Mania Hub
    </h3>
    <hr>
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
    <div sec:authorize="hasRole('MANAGER')">
        <!-- Add a link to point to /leaders ... this is for the managers -->
        <p>
            <a th:href="@{/leaders}">
                Leadership Meeting
            </a>
            (only for Manager peeps)
        </p>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <!-- Add a link to point to /systems ... this is for the admins -->
        <p>
            <a th:href="@{/systems}">
                IT Systems Meeting
            </a>
            (only for Admin peeps)
        </p>
    </div>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>